{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div id="app">
  <p>
    <router-link :to="{name: 'Home'}">All Posts</router-link>
    |
    <router-link :to="{name: 'MainProfile'}">Go to About</router-link>
    |
    <router-link :to="{name: 'Profile', params:{id: 1}}">Go to About</router-link>
    |
    <a v-if="!isAuth" href="accounts/login/">Login</a>
    |
    <a v-if="isAuth" href="accounts/logout/">Logout</a>
  </p>
  <router-view></router-view>
</div>
<script  src="{% static 'vue/app.js' %}">
</script>
<script>
    const mountedApp = app.mount("#app")
</script>
{% endblock %}